<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <!-- <script src="/static/dashboard.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <title>SafeNotes</title>
</head>
    <body class="dashboard">
        <nav>
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/user/notes" >My notes</a>
            <a class="nav-item" href="/user" >Manage account</a>
            <a class="nav-item" href="/logout" >Logout</a>
        </nav>
        <div class="content">
            <h2 class="section-header2">Your notes:</h2>
            <a href="/user/notes/new" class="button2">New note</a>
            <div class="dashboard-table">
                {% for note in notes %}
                        <div class="note">
                            <div class="note-data">
                                <div class="note-title">{{ note.title|e }}</div>
                                <div class="note-text">{{ note.content|e }}</div>
                                {% if note.public %}
                                    <div><span>Public: </span>yes</div> 
                                {% else %}
                                    <div><span>Public: </span>no</div> 
                                    <div><span>Receivers: </span>{{ note.shared_with|join(", ")|e }}</div> 
                                {% endif %}
                                <div><span>Published on: </span>{{ note.date_created|e }}</div>
                            </div>
                            <form action="{{ url_for('user_notes_delete', _id=note._id) }}" method="GET">
                                <button class="button2">Delete</button>
                            </form>    
                        </div>
                {% endfor %}
            </div>
        </div>
        <footer>
            <span id="pamw">Ochrona danych, 2021</span> 
            <a id="repo-link" target="_blank" href="https://github.com/JanKodowanie/SafeNotes" id="repo">Repozytorium Github</a>
        </footer>
    </body>
</html>